table {
    display: flex;
    font-size: 10em;

    .player {
        background: #aff750;
        color: transparent;
        background-image: url(../img/main.png), url(../img/grass.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .monster {
        background: #aff750;
        color: transparent;
        background-image: url(../img/grass.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    td {
        line-height: 36px;
        overflow: hidden;
    }
}

.grass {
    background: #aff750;
    color: transparent;
    background-image: url(../img/grass.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.border {
    border: none !important;
    background: blue;
    color: transparent;
    // line-height: 10px;
    // font-size: 30px;
    background-image: url(../img/rock.png), url(../img/grass.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}