.monster-screen {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: gray;
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    >div {
        display: flex;
        flex-direction: column;
    }

    .health-bar {
        height: 15px;
        background: red;
    }
}