$menu-height: 200px;
$menu-bg: linear-gradient(45deg, #007eff, #5eef76);

.battle {
    background: white;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;

    &__screen {
        // background: #de03b9;
        height: calc(100% - #{$menu-height});
        width: 100%;
        position: relative;

        #health {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            // .health-bar {
            //     background: blue;
            //     height: 20px;
            // }

            .progress {
                height: 1.5rem;
            }

            #health-opponent,
            #health-mine {
                width: 100%;
            }

            #health-opponent {
                &.progress-bar {
                    background-color: #fd0d0d;
                }
            }
        }

        #monsters {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            top: 50px;
            position: relative;
            width: 90%;
            margin: auto;

            .monster {
                background: green;
                height: 93px;
                width: 100px;
            }

            .battle-details {
                display: flex;
                flex-direction: column;
            }

            #monster-opponent {
                position: absolute;
                right: 0;
            }

            #monster-mine {
                position: absolute;
                bottom: 0;
            }
        }
    }

    &__menu {
        position: absolute;
        background: $menu-bg; // have animation to change colour slowly
        bottom: 0;
        width: 100%;
        height: $menu-height;
        color: white;
        // border-top: 10px solid white;

        &>div {
            flex-wrap: wrap;
        }

        &>div>div {
            display: flex;
            font-size: 2em;
            flex-wrap: wrap;
            width: 47%;
            cursor: pointer;
            background: #ffffff1f;
            margin: 15px;
            align-items: center;
            justify-content: center;
            border: 2px solid transparent;

            &:hover {
                background: #fbfbfb6b;
                border: 2px solid #ffffff4a;
            }
        }

        #main-menu {
            display: flex;
            height: 100%;
        }

        #fight-menu,
        #bag-menu,
        #monster-menu {
            display: none;
            height: 100%;
        }

    }

    #menu-dialogue {
        display: none; // flex
        position: absolute;
        bottom: 0;
        background: $menu-bg;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
    }


}