table {
    display: flex;
    font-size: 10em;
    flex-direction: column;

    .player {
        background: #aff750;
        color: transparent;
        background-image: url(../img/player-down.png), url(../img/grass.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        &.up {
            background-image: url(../img/player-up.png), url(../img/grass.jpg);
        }
        &.down {
            background-image: url(../img/player-down.png), url(../img/grass.jpg);
        }
        &.left {
            background-image: url(../img/player-left.png), url(../img/grass.jpg);
        }
        &.right {
            background-image: url(../img/player-right.png), url(../img/grass.jpg);
        }
    }

    .monster {
        background: #aff750;
        color: transparent;
        background-image: url(../img/grass.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    td {
        line-height: 36px;
        overflow: hidden;
    }
}

.grass {
    background: #aff750;
    color: transparent;
    background-image: url(../img/grass.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    // position: relative;

    // &::before {
    //     position: absolute;
    //     content: "";
    //     background: #60c808;
    //     height: 25px;
    //     width: 17px;
    //     left: -2px;
    //     box-shadow: inset 7px 9px 0px 0px #aff750;
    //     transform: rotate(-15deg);
    //     top: -4px;
    //     border-radius: 7px;
    // }
}

.border {
    border: none !important;
    background: blue;
    color: transparent;
    // line-height: 10px;
    // font-size: 30px;
    background-image: url(../img/tree.png), url(../img/grass.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}