@import 'reset';

table {
    display: flex;
    font-size: 5em;

    .player {
        background: red;
        color: red;
    }
}

.grass {
    background: green;
    color: green;
}

.border {
    background: blue;
    color: blue;
}