@import 'reset';
@import 'screen-map';
@import 'screen-monsters';
@import 'screen-battle';
@import 'screen-dev';

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

.progress {
    border-radius: 0;
}